.card_collection_container {
    padding: 25px 25px;
}

.card_container {    
    width: 95%;
    margin: 15px auto;
    position: relative;
    display: flex;
    align-items: center;    
}

.card_container .card_title {
    width: 0%;
    height: 100%;
    background-color: rgba(56, 53, 53, 0.568);
    position: absolute;
    top: 0%;
    display: flex;
    overflow: hidden;
    transition: .4s all;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.card_title h3 {
    color: #fff;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

.card_container:hover .card_title {
    width: 100%;
}